@import "tailwindcss";

/* #6366f1 -> for buttons*/
/* #1d2739 -> for background */

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  color: #ffffff;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  font-family: var(--font-inter), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

html {
  scroll-behavior: smooth;
}
